html,body {
    background:#292929;
    color:white;
}
a {
    color:lightblue;
}
input {
    margin:5px;
}
button {
    align-self:flex-end;
    margin-left:10px;
    cursor:pointer;
    background:rgb(32, 33, 34);
    color:lightgray;
    outline:none;
    border:1px solid lightgray;
}
.box {
    display:flex;
    flex-flow:column;
    /* justify-content:center; */
    width:30%;
    border:1px solid white;
    padding:1em;
    height:70%;
    min-width:200px;
    min-height:100px;
}
.button {
    text-decoration:none;
    padding:10px;
    cursor:pointer;
    background: #264c58;
    border-radius:3px;
    border:1px solid lightgray;
}
.error {
    color:rgb(222, 116, 116);
}
.success {
    color:rgb(138, 203, 138);
}
.pageTitle {
    font-size:40px;
}
input {
    color: white;
    background:#3e3e3e;
    border:1px solid lightgray;
    border-radius:1px;
    padding:4px;
}
hr{
    background:gray;
    border:1px solid gray;
}