html,
body {
    background: var(--background);
    color: var(--text-dark);
    font-family: 'Nunito', sans-serif;
}
.head-container{
    position:fixed;top:0;width:100%;background:var(--background);z-index:10;
}
a {
    color: var(--text-light-saturated);
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.title {
    /* font-size: 30px; */
    /* margin: 10px; */
    color: var(--text-light);
}

.title img {
    height:4em;
    cursor:pointer;
    user-select: none;
    --webkit-user-select:none;
}
input {
    margin: 5px;
}

.button {
    align-self: flex-end;
    margin-left: 10px;
    cursor: pointer;
    background: var(--background-shader);
    color: var(--text-light);
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 14;
    user-select: none;
    -webkit-user-select: none;
}

.input {
    background: var(--primary);
    color: var(--text-dark);
    border: none;
    padding: 1em;
}

.input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-dark);
    opacity: 0.7;
    /* Firefox */
}

.button:hover {
    background: var(--background-shader-lighter);
}

.light-button {
    background: var(--primary);
    color: var(--text-dark);
}

.light-button:hover {
    background: var(--primary-lighter);
}

.box {
    display: flex;
    margin-bottom: 1em;
    flex-flow: column;
    background: var(--background-shader-darker);
    border:1px solid var(--primary);
    /* justify-content:center; */
    width: 30%;
    /* border:1px solid white; */
    border-radius: 0.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-height: 70%;
    min-width: 20em;
    min-height: 10em;
}

.wide-box {
    width: 50%;
    /* height:20%; */
}

.button-row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}



.error {
    color: var(--error);
    text-align: center;
}

.success {
    color: var(--success);
    text-align: center;
}

.pageTitle {
    font-size: 40px;
}

/* input {
    color: white;
    background: #3e3e3e;
    border: 1px solid lightgray;
    border-radius: 1px;
    padding: 4px;
} */

hr {
    border: 1px solid var(--text-light-saturated);
}

.white-divider {
    border-top: 1px solid var(--text-light);
    border-bottom: none;
    background: none;
    width: 90%;
}

.invisible-sector {
    opacity: 0;
    user-select: none;
    -webkit-user-select: none;
}

.section-header {
    /* display:flex; */
    /* align-self:center; */
    text-align: center;
    /* justify-self: center; */
    color: var(--text-lighter);
    font-size: 18;
    padding-bottom: 1em;
}

.center-padder {
    padding-top: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.head-center {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light);
}