#container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.trash-icon {
    height: 15px;
    display: flex;
    align-self: center;
    justify-self: flex-end;
    right: 5px;
    opacity: 0;
    transition: 0.1s;
    cursor: pointer;
}

.queue-item:hover .trash-icon {
    opacity: 1;
    transition: 0.1s;
}

.queue-item:hover .eye-icon {
    opacity: 0.7;
    transition: 0.1s;
}

.eye-icon:hover {
    opacity: 1;
}

.queue-item {
    cursor: move;
    /* border-radius:0.5em; */
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-left: 1em solid var(--primary-darker);
    padding: 1em;
    /* border:1px solid gray; */
    margin: 5px;
    width: 80%;
}

.queue-item:hover {
    background: var(--primary-lighter);
}

.sortable-chosen {
    background: var(--primary-lighter);
}

.inactive {
    background: var(--inactive);
    color: var(--text-light-darker);
}

.hidden {
    opacity: 50%;
}

.eye-icon {
    height: 15px;
    width: 15px;
    display: flex;
    /* opacity:0.2; */
    align-self: center;
    justify-self: flex-end;
    right: 5px;
    opacity: 0;
    transition: 0.1s;
    cursor: pointer;
    /* background:red; */
    content: url('/static/assets/eye-shut.png');
}

/* .eye-icon:hover {
    opacity:1;
} */
.inactive .eye-icon {
    content: url('/static/assets/eye-open.png');
}

.icon-always-visible {
    opacity: 0.7;
}

button {
    padding: 10px;
}

.active {
    background: var(--accent-select);
}

.active:hover {
    background: var(--accent-select-lighter);
}

.active .eye-icon {
    display: none;
}

.sortable-ghost {
    color: var(--background);
    background: var(--background);
    border-left: 1em solid var(--background);
}

.inactive:hover {
    background: rgb(90, 57, 57);
    color: var(--text-light-darker);
}

.side-toggle {
    text-align: center;
    margin-right: 1em;
    color: var(--text-light-darker);
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tgl {
    display: none;

    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    &+.tgl-btn {
        box-sizing: border-box;

        &::selection {
            background: none;
        }
    }

    +.tgl-btn {
        outline: 0;
        display: inline-block;
        width: 2em;
        height: 1em;
        position: relative;
        /* float:right; */
        top: 0.2em;
        cursor: pointer;
        user-select: none;

        &:after,
        &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }

        &:after {
            left: 0;
        }

        &:before {
            display: none;
        }
    }

    &:checked+.tgl-btn:after {
        left: 50%;
    }
}

.tgl-light {
    +.tgl-btn {
        background: #a8a8a8;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;

        &:after {
            border-radius: 50%;
            background: #fff;
            transition: all .2s ease;
        }
    }

    &:checked+.tgl-btn {
        background: var(--accent-select);
    }
}

.display-hidden {
    display: none;
}

#queue-container {
    min-height: 10em;
    max-height: 30em;
}

.scrollable-inner {
    overflow-y: scroll;
    max-height: 100%;
}

#queue_list .queue-item {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#queue-control {
    position: fixed;
    background: #0E141B;
    z-index: 10;
}
#user_queue_list {
    width:20em;
}