#container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    /* align-items:center; */
    width: 100%;
}

.trash-icon {
    height: 40px;
    display: flex;
    align-self: center;
    justify-self:flex-end;
    right: 5px;
    /* opacity:0; */
    transition: 0.1s;
    cursor: pointer;
}

/* .queue-item:hover .trash-icon {
    opacity:1;
    transition:0.1s;
} */
/* .queue-item:hover .eye-icon {
    opacity:0.7;
    transition:0.1s;
} */
/* .eye-icon:hover {
    opacity:1;
} */
.queue-item {
    cursor: move;
    /* border-radius:0.5em; */
    background: #81d9ff;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-left: 1em solid #4b8097;
    border-right: 1em solid #81d9ff;
    padding: 1em;
    font-size: 40px;
    /* border:1px solid gray; */
    margin: 5px;
    width: 80%;
}

/* .queue-item:hover {
    background:#91deff;
} */
.sortable-chosen {
    background: #7FB3D5;
    border-right: 1em solid #7FB3D5;

}

.inactive {
    background: rgb(35, 24, 24);
    color: lightgray;
}

.hidden {
    opacity: 50%;
}

.eye-icon {
    height: 40px;
    width: 40px;
    display: flex;
    opacity:1;
    /* opacity:0.2; */
    justify-self: flex-end;
    align-self:center;
    right: 5px;
    /* opacity:0; */
    transition: 0.1s;
    cursor: pointer;
    /* background:red; */
    content: url('/static/assets/eye-shut.png');
}

/* .eye-icon:hover {
    opacity:1;
} */
.inactive .eye-icon {
    content: url('/static/assets/eye-open.png');
}

.icon-always-visible {
    opacity: 0.7;
}

button {
    padding: 10px;
}

.active {
    background: #adf8cc;
    border-right: 1em solid #adf8cc;
}

/* .active:hover {
    background:#baffd7;
} */
.active .eye-icon {
    display: none;
}

.sortable-ghost {
    color: #212F3D;
    background: #212F3D;
    border-left: 1em solid #212F3D;
    border-right: 1em solid #212F3D;
}

.small-button {
    font-size: 3em;
}
.side-toggle{
    text-align:center;
    margin-right:1em;
    font-size:3em;
    color:lightgray;
    margin-bottom:1em;
    }
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .tgl {
        display: none;
      
        &,
      &:after,
      &:before,
        & *,
      & *:after,
      & *:before,
        & + .tgl-btn {
            box-sizing: border-box;
            &::selection {
                background: none;
            }
        }
      
        + .tgl-btn {
            outline: 0;
            display: inline-block;
            width: 2em;
            height: 1em;
            position: relative;
            /* float:right; */
            top:0.2em;
            cursor: pointer;
        user-select: none;
            &:after,
        &:before {
                position: relative;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
            }
        
            &:after {
                left: 0;
            }
        
            &:before {
                display: none;
            }
        }
      
        &:checked + .tgl-btn:after {
            left: 50%;
        }
    }
    
    .tgl-light {
        + .tgl-btn {
            background: #a8a8a8;
            border-radius: 2em;
            padding: 2px;
            transition: all .4s ease;
            &:after {
                border-radius: 50%;
                background: #fff;
                transition: all .2s ease;
            }
        }
      
        &:checked + .tgl-btn {
            background: #9FD6AE;
        }
    }