:root {
  --background: #161413;
  --text-dark: #0e141b;
  --background-shader: #5e4234;
  --background-shader-darker: #30221b;
  --background-shader-lighter: #856453;
  /* --primary: #FFB181;  */
  --text-light: #d8ccb9;
  --text-lighter: #efe4d3;
  --text-light-darker: #b8ac99;
  --text-light-saturated: #ebc890;
  --primary: #cc9c50;
  --primary-alt: #867566;
  --primary-darker: #a27a3a;
  --primary-lighter: #e4b365;
  --accent-select: #ba8dc8;
  --accent-select-lighter: #daaae9;
  --error: rgb(222, 116, 116);
  --success: rgb(138, 203, 138);
  --inactive: rgb(114, 72, 72);
}
