.item {
    /* border-radius:0.5em; */
    cursor: pointer;
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-left: 1em solid var(--primary-darker);
    padding: 1em;
    font-size: 2em;
    /* border:1px solid gray; */
    margin: 5px;
    width: 80%;
}

.username {
    align-self: flex-start;
}

.small-button {
    /* color:white; */
    user-select: none;
    -webkit-user-select: none;
    background-color: var(--primary-darker);
    padding: 0.5em;
    margin-left: 0.5em;
}