.item {
    background:rgb(24, 29, 29);
    display:flex;
    justify-content:space-between;
    align-self:center;
    padding:1em;
    border:1px solid gray;
    margin:2px;
    width:90%;
}
.username {
    align-self:flex-start;
}
