{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
   
	{% if data %}
	<h3>{{data}}</h3>
	{% else %}

	Logged in as {{session['username']}} | <a href="/logout">Logout</a> <br> 
	
	{% if newsong %}
	<span class="success">Song request received.</span><br>
	{% else %}
	<br>
	{% endif %}
	<br>
    <a class="button" href="/request">Request a Song</a>
    {% if session['admin'] %}
    <a class="button" href="/users">User Admin</a> 
    {% endif %}
	<a class="button" href="/queue">
		{% if not session['admin'] %}
			View
		{% else %}
			Edit
		{% endif %}
		
		 Queue</a> 
	
	{% endif %}

{% else %}
<p>Welcome to KaraQueue!</p>

<a class="button" href="/login">Returning User</a> 
<a class="button" href="/register">New User</a>

{% endif %}
{% endblock %}