{% extends "base.html" %}
{% block content %}
<div class="center-padder">
  <div class="box wide-box">
    <span class="section-header">Login</span>
    <hr class="white-divider"/>
    {% if session['logged_in'] %}
    <script>window.location.href="/";</script>
    {% elif incorrect %}
    <span class="error">Incorrect username/password.</span><br>
    {% elif accountcreated %}
    <span class="success">Account created! Please login.</span><br>
    {% else %}
    <br>
    {% endif %}
  <form style="display:flex;justify-content:flex-start;flex-flow:column;" action="/login" method="POST">
    <input class="input" type="username" name="username" placeholder="Stage Name">
    <input class="input" type="password" name="password" placeholder="Password">
    <input class="button light-button" type="submit" value="Log in">
  </form>
</div>
</div>
{% endblock %}