{% extends "base.html" %}
{% block content %}
<div class="center-padder">
    {% if session['logged_in'] %}
    {% if request.MOBILE %}
        <link rel="stylesheet" href="{{ url_for('static', filename='queue-mobile.css') }}">
        {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
        {% endif %}
        <div class="box wide-box">
            <span class="section-header">

                Logged in as {{session['username']}}.<br> <a href="/logout">Logout</a> | <a href="/request">Request</a>
            </span>
            <hr class="white-divider">
            <br>

            <!-- <div class="button-container"><br>
                <div class="button-container">
                </div> -->

            <div id="user_queue_list"></div>
        </div>
    </div>
    <!-- </div> -->
    <script>
        var globalUsername = "{{ session['username'] }}"
    </script>
    <script src="{{ url_for('static', filename='js/queue.js') }}" type="text/javascript"></script>
    {% endif %}
</div>
{% endblock %}