{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
{% if request.MOBILE %}
<link rel="stylesheet" href="{{ url_for('static', filename='queue-mobile.css') }}">
<div class="button-row">
    <div class="button small-button" onclick="clear_queue()">Clear Queue</div>
    <div class="button small-button" onclick="prev_singer()">Prev Singer</div>
    <div class="button small-button" onclick="next_singer()">Next Singer</div><br><br>
</div><br><br>
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
<div id="queue-control "class="button-container">
    <div class="button" onclick="clear_queue()">Clear Queue</div>
    <div class="button" onclick="prev_singer()">Prev Singer</div>
    <div class="button" onclick="next_singer()">Next Singer</div>
</div>
<br>
{% endif %}<br><br>
<!-- TODO: add song from admin ui -->
<div id="container">
    <div>
        {% if request.MOBILE %}
        <div class="box wide-box scrollable-box" id="queue-container">
            {% else %}
            <div class="box scrollable-box" id="queue-container">
                {% endif %}
                <span class="section-header">
                    User List
                </span>
                <div class="side-toggle">
                    <span>
                        Show Hidden 
                    </span>
                    <input id="show-hidden" class="tgl tgl-light" type="checkbox" checked/>
                    <label class="tgl-btn" for="show-hidden"></label>

                </div>
                <!-- <br> -->
                <hr class="white-divider" />
                <br>
                <div id="queue_list" class="scrollable-inner"></div>
            </div>
        </div>
        <div>
            {% if request.MOBILE %}
            <div class="box wide-box scrollable-box">
                {% else %}
                <div class="box scrollable-box">
                    {% endif %}
                    <span class="section-header">Viewing queue for user
                        <!-- <span class="invisible-sector">:</span> -->
                        <span id="user-id">N/A</span>
                    </span>
                    <hr class="white-divider" /><br>
                    <div id="user_queue_list" class="scrollable-inner"></div><br>
                    <span id="add-song-button" style="display:none;">
                        <hr class="white-divider"/>
                        <br>
                        <span class="button light-button" onclick="addSong()">Add song</span>
                    </span>
                </div>
            </div>
        </div>
        <script>
            var globalUsername = "{{session['username']}}";
        </script>
        <script src="{{ url_for('static', filename='js/queue-admin.js') }}" type="text/javascript"></script>
        {% endif %}
        {% endblock %}