{% extends "base.html" %}
{% block content %}
<div class="center-padder">
{% if session['logged_in'] %}
<p>Oh no Dont show page</p>
{% else %}

<div class="pageTitle">Register</div>
{% if userExists %}
<span class="error">User already exists. Please pick another username.</span><br><br>
{% else %}
<br><br>
{% endif %}
<div class="box" style="width:70%;">
  <span class="section-header">Register</span>
  <hr class="white-divider"/>
<form style="display:flex;justify-content:flex-start;flex-flow:column;" action="/register/" method="POST">
  <input class="input" type="username" name="username" placeholder="Stage Name">
  <input class="input" type="password" name="password" placeholder="Password">
  <input class="button light-button" type="submit" value="Create Account">
</form>
</div>
{% endif %}
</div>
{% endblock %}