{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>Oh no Dont show page</p>
{% else %}
<div class="pageTitle">Register</div>
<div class="center-padder">

  <div class="box wide-box">
    <span class="section-header">Register</span>
    <hr class="white-divider" />
    {% if userExists %}
    <br>
    <span class="error">User already exists. Please pick another username.</span>
    {% else %}
    <br><br>
    {% endif %}
    <form style="display:flex;justify-content:flex-start;flex-flow:column;" action="/register/" method="POST">
      <input class="input" type="username" name="username" placeholder="Stage Name">
      <input class="input" type="password" name="password" placeholder="Password">
      <input class="button light-button" type="submit" value="Create Account">
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}