{% extends 'base.html' %}
{% block content %}
<div class="center-padder">
  <div class="box" style="width:80%">
    <span class="section-header">Request Song</span>
    <hr class="white-divider" />
    <form style="display:flex;justify-content:flex-start;flex-flow:column;" action="/request" method="POST">

      <input class="input" name="song" placeholder="Song name">
      <input class="input" name="author" placeholder="Artist">
      <br>
      <input class="button light-button" type="submit" value="Submit">
    </form>
  </div>

</div>
{% endblock %}