{% extends "base.html" %}
{% block content %}
<div class="pageTitle">Reset Password</div>
<div class="center-padder">
  <div class="box wide-box">
    <span class="section-header">Reset Password</span>
    <hr class="white-divider"/>
    {% if session['logged_in'] %}
    
    <form style="display:flex;justify-content:flex-start;flex-flow:column;" action="/reset-password" method="POST">
      {% if passwordNotMatch %}
      <span class="error">Passwords do not match.</span><br><br>
      {% elif passwordIncorrect %}
      <span class="error">Password incorrect.</span><br><br>
      {% else %}
      <br><br>
      {% endif %}
  <input class="input" type="password" name="curPassword" placeholder="Current Password"><br>
  <input class="input" type="password" name="newPassword" placeholder="New Password"><br>
  <input class="input" type="password" name="confirmPassword" placeholder="Confirm New Password"><br>
  <input class="button light-button" type="submit" value="Change">
</form>
</div>
{% endif %}
</div>
{% endblock %}