{% extends "base.html" %} {% block content %} {% if session['logged_in'] %}
<div class="center-padder">
  {% if request.MOBILE %}

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='users-mobile.css') }}" />
  {% else %}
  <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}" />
  {% endif %}
  <div class="box wide-box">
    <span class="section-header">User Admin</span>
    <hr class="white-divider" />
    <div id="user_list"></div>
  </div>
  <script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on("connect", function (response) {
      socket.emit("init", "{{session['username']}}");
    });
    socket.on("User Init", function (data) {
      users = JSON.parse(data);
      clearUserList();
      // userlist = document.getElementById('user_list')
      for (let i in users) {
        user = users[i];
        addUserItem(user);
      }
    });
    socket.on("User Update", function (data) {
      users = JSON.parse(data);
      clearUserList();
      for (let i in users) {
        user = users[i];
        // div = document.createElement('div');
        // div.innerText = user;
        // userlist.appendChild(div)
        addUserItem(user);
      }
    });

    function clearUserList() {
      userlist = document.getElementById("user_list");
      userlist.innerHTML = "";
    }

    function delUser(username) {
      console.log("deleting " + username);
      socket.emit("delete", username);
    }

    function addUserItem(username) {
      userlist = document.getElementById("user_list");
      label = document.createElement("span");
      // divider = document.createElement('span');
      label.innerText = username;
      label.className = "username";
      // divider.innerText = " | ";
      deletebutton = document.createElement("span");
      deletebutton.className = "small-button";
      deletebutton.innerText = "Delete";
      deletebutton.setAttribute("username", username);
      deletebutton.addEventListener("click", function (e) {
        if (
          confirm("Are you sure you want to delete the user " + username + "?")
        ) {
          delUser(e.target.getAttribute("username"));
        }
      });
      editbtn = document.createElement("span");
      editbtn.className = "small-button";
      editbtn.innerText = "Edit";
      editbtn.setAttribute("username", username);
      editbtn.addEventListener("click", function (e) {
        window.location.href =
          "/reset-password?user=" + e.target.getAttribute("username");
      });
      d1 = document.createElement("div");
      div = document.createElement("div");
      div.className = "item";
      div.appendChild(label);
      // div.appendChild(divider);
      d1.appendChild(deletebutton);
      d1.appendChild(editbtn);
      div.appendChild(d1);
      userlist.appendChild(div);
    }
  </script>
</div>
{% endif %} {% endblock %}
